*{
  padding: 0;
  margin: 0;
}
header{
  background-color: black;
  color: white;
  height: 190px;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name{
  padding-left: 95px;
}
.name h2{
  position: relative;
  top: -19px;
  font-family: 'Jim Nightshade', cursive;
}
.details{
  padding-right: 95px;
}
.details p{
  position: relative;
  top: -10px;
  font-family: 'Satisfy', cursive;
}
nav{
  background: -webkit-linear-gradient(left top,#03A9F4, #00BCD4, #4D86AC);
}
nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 280px;
}
nav ul li{
  height: 45px;
  position: relative;
  top: 13px;
  padding-left: 125px;
  list-style-type: none;
    width: 85px;
}
nav ul li a{

  text-decoration: none;
  color:black;
  font-size: 18px;
}
.active{
  color:#FFFFFF;
}
section{
  height: 750px;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/h.jpg");
}
section h2{
  color: white;
  font-size: 52px;
  padding-left: 25%;
  padding-top: 6%;
  font-family: 'Lobster Two', cursive;
}
footer{
  display: flex;
  justify-content: space-between;
  background: -Webkit-linear-gradient(left top, #E3F2FD, #0D47A1);
}
.icons{
  padding-top: 5px;
  padding-left: 85px;
}
.icons img{
  height: 55px;
  width: 55px;
  transition:all 2s ;
}
.icons img:hover{
    transform: rotate(360deg);
}
.copy{
  padding-top: 10px;
  padding-right: 85px;
}
.copy p{
  font-size: 19px;
}
